// Main Colors
$primary-color: #ffffff;
$secondary-color: #ffffff;
$highlight: #ffffff;
$text: #000000;
$gray-blue: #ffffff;
$white: #ffffff;
$black: #ffffff;
$lighten-black: #ffffff;
$blue-black: #ffffff;
$blue-darken: #ffffff;
$green-darken: #ffffff;
$danger: #ffffff;
$success: #ffffff;


// Background Colors
$background: $blue-black;

// Body Color
$body-color: $text;

// Headings
$heading-font-color: #acf7a3;

// Links
$link-color: $primary-color;
$link-color-hover: lighten($link-color, 15%);

// Button
$button-color: $white;
$button-background-color: $primary-color;

// Border
$border-color: #ffffff;
